.active-video-background{
    padding: 6% 0;
    background-image: url("/public/Images/17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.active-video-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.activevideo-text{
    text-align: center;
    padding: 0 5%;
}
.font-name-activevideo{
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.active-part h2{
    margin: 0 0 35px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-weight: 800;
    text-align: center;
    color: #fff;
}
.active-part .activevideo-text{
    font-size: 18px;
    letter-spacing: 0.7px;
    font-weight: 500;
    color: #fff;
}